source https://nuget.org/api/v2
redirects: force
nuget Fake prerelease
nuget FSharp.Core
nuget EPPlus.Core
nuget Topshelf prerelease
nuget Topshelf.Fsharp
nuget SqlProvider
nuget FSharp.Data prerelease
nuget FSharp.Data.TypeProviders
nuget System.Data.SqlClient
nuget FSharp.Compiler.Tools
